* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

body {
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8aa0dd;
    padding: 10px 20px; /* Reduce padding to balance space */
}

.nav i {
    font-size: 30px;
    color: #323232;
    margin-right: 10px; /* Adjust margin to balance space */
}

.nav h1 {
    color: #323232;
    font-size: 40px;
    margin: 0 20px 0 10px; /* Reduce left margin */
    cursor: pointer; /* Optional: make the title clickable */
}

.nav .nav-search {
    flex: 1; /* Allow it to take up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; /* Adjust margin to balance space */
}

.nav .nav-search input {
    flex: 1;
    color: #323232;
    border: 1px solid #323232;
    height: 35px;
    border-right: 0;
}

.nav .nav-search button {
    background-color: #323232;
    color: whitesmoke;
    border: 1px solid #323232;
    height: 36px;
    border-left: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center; /* Ensure items are centered vertically */
}

.nav li {
    margin-left: 20px; /* Adjust as needed */
}

.nav li a {
    text-decoration: none;
    color: #323232;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav li a .badge {
    margin-left: 5px;
    background-color: #323232;
    color: whitesmoke;
    border-radius: 50%;
    padding: 3px 6px;
}
