<nav class="nav">
    <i style="font-size: 30px; color:#323232; margin-left: 62px; margin-top: 0px;" class="fas fa-shipping-fast"></i>
    <h1>T-VStore</h1>
   
    <div  class="nav-search">
        <input type="text" placeholder="Buscar productos" />
        <button>Buscar</button>
    </div>
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="vendedor">Vender</a></li>
        <li>
            <a routerLink="cart">
                <i class="fas fa-shopping-cart"></i> 
                <div style="font-size:10px;" class="badge bg-dark">{{totalitem}}</div>
            </a>
        </li>
    </ul>
</nav>
