table{
    text-align: left;
    color: #323232;
    border-collapse: collapse;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
   // border: 1px solid #323232;
    padding: 10px;
    min-width: 160pxs;
}
.delete-button {
    background: none;
    border: none;
    color: red; /* Puedes cambiar el color según tu preferencia */
    cursor: pointer;
    margin-top: 1.2cm; /* Mueve el icono hacia abajo 1.5 cm */
    display: inline-block; /* Asegura que el margin-top funcione correctamente */
    font-size: x-large;
  }
  
  .delete-button:hover {
    color: darkred; /* Cambiar color al pasar el cursor */
    
  }
  .update-button {
    background: none;
    border: none;
    color: blue; /* Cambia el color según tu preferencia */
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-flex; /* Alinea el contenido en línea */
    align-items: center; /* Centra el icono verticalmente */
  }
  
  .update-button i {
    font-size: 24px; /* Ajusta este valor para cambiar el tamaño del icono */
  }
  
  .update-button:hover {
    color: darkblue; /* Cambia el color al pasar el cursor */
  }
  
  